<body>
    {% extends 'bootstrap/base.html' %}
    {% import 'macros.html' as macro %}
    {% block navbar %}
    {% include 'navbar.html'%}
    {% endblock %}

    {% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    {% endblock %}
    <!-- Content block -->


    <!-- Content block -->
    {% block content %}

    <div class="container">
        <div class="row">
            <h2>Business Pitch</h2>
            <div class="col-md-4">


                <img class="full" src="/static/images/bulb.png" alt="login image">
            </div>
            <div class="col-md-8">
                {{ macro.display(businesspitch) }}
            </div>
        </div>
    </div>


    {% endblock%}
</body>