            <ul class="nav navbar-nav" style="float: right">
                <li><a href="/pitches"> New Pitch </a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a></li>
                <li><a href="{{url_for('main.new_pitch')}}">Pitches</a></li>
                <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
                {% else %}
                <li><a href="{{url_for('auth.login')}}">Sign in</a></li>
                {%endif%}
                <li><a href="{{url_for('auth.register')}}">Sign up</a></li>
            </ul>

        </div>

    </div>
</div>
